<ion-header>
	<app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="order-detail-page" style="position: absolute;"></div>
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Incoming payment' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control [field]="{id:'Id', label: 'Id', type : 'number', form : formGroup }">
						</app-form-control>
						<app-form-control [field]="{id:'DocumentDate', label: 'Document date', type : 'span-date', form : formGroup }">
						</app-form-control>
						<app-form-control [field]="{id:'Type', label: 'Type', type : 'text', form : formGroup }"  (change)="saveChange()">
						</app-form-control>
						<app-form-control [field]="{id:'SubType', label: 'Sub type', type : 'text', form : formGroup }" (change)="saveChange()">
						</app-form-control>
						
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control [field]="{id:'Status', type : 'ng-select-status', form : formGroup,  dataSource: statusList,  bindValue: 'Code' }"></app-form-control>
						<app-form-control [field]="{id:'Amount', label: 'Amount', type : 'span-number', form : formGroup }" (change)="saveChange()"></app-form-control>
						<app-form-control [field]="{id:'Remark', label: 'Remark', type : 'textarea', form : formGroup }" (change)="saveChange()"></app-form-control>

					</ion-col>
				</ion-row>

			</form>
		</ion-grid>

		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
                <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
                    <ion-segment-button value="s1">
                        <ion-label>{{'Incoming payment list' | translate}}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s2">
                        <ion-label>{{'Other information' | translate}}</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-toolbar>

			<div class="ion-padding" *ngIf="segmentView == 's1'">
				
			</div>

			<!-- Order information -->
			<div *ngIf="segmentView == 's2'">
				<ion-grid fixed>
					<form [formGroup]="formGroup">
						<!-- Invoice information -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'A information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id:'Id', label: 'Id', type : 'number', form : formGroup }" (change)="saveChange()"></app-form-control>
								<app-form-control [field]="{id:'Name', label: 'Name', type : 'text', form : formGroup }" (change)="saveChange()"></app-form-control>
							</ion-col>
						</ion-row>
						<!-- Buyer information -->
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'B information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								
							</ion-col>
						</ion-row>
						<!-- Other information -->
						<ion-row class="hr-group" *ngIf="item.Id">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Other information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"></app-form-control>
								<app-form-control [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
								<app-form-control [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"></app-form-control>
								<app-form-control [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"></app-form-control>
								<app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }" (change)="saveChange()"></app-form-control>
							</ion-col>
						</ion-row>
					</form>
				</ion-grid>

			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
