<ion-header>
  <app-toolbar [page]="this">
    <ion-toolbar>
    <ion-button *ngIf="this.formGroup.get('Status').value == 'Open' && pageConfig.canRequestOutgoingPayment" tollbarSelected  title="{{'Create outgoing payment' | translate}}" (click)="createOutgoingPayment()">
			<ion-icon color="success" name="money-check"></ion-icon>
		</ion-button>
    </ion-toolbar>
  </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
  <div class="main-view" *ngIf="item && !pageConfig.showSpinner">
    <div class="row-full shadow full-screen">
      <ion-toolbar color="primary">
        <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
          <ion-segment-button value="s1">
            <ion-label>{{'General information' | translate}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="s2">
            <ion-label>{{'Product list' | translate}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="s3">
            <ion-label>{{'Payment history' | translate}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>

      <div class="ion-padding" *ngIf="segmentView == 's1'">
        <ion-grid fixed>
          <form [formGroup]="formGroup">
            <ion-row class="hr-group">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">{{'General information' | translate}}</ion-label>
                </ion-list-header>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">
                <!-- <div class="c-control" *ngIf="item.Id">
									<label class="c-label" for="Id">{{'Id' | translate}}</label>
									<input class="c-input" id="Id" formControlName="Id" type="number">
								</div> -->

                <div class="c-control">
                  <label class="c-label" for="IDReceipt"
                    >{{'ASN/Receipt' | translate}}
                    <span
                      *ngIf="!formGroup.controls.IDReceipt.valid && !formGroup.controls.IDReceipt.pending && (formGroup.controls.IDReceipt.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>

                  <ng-select
                    class="c-input"
                    (change)="receiptChange($event);"
                    labelForId="IDReceipt"
                    formControlName="IDReceipt"
                    [items]="IDReceiptDataSource.items$ | async"
                    [typeahead]="IDReceiptDataSource.input$"
                    [loading]="IDReceiptDataSource.loading"
                    bindValue="Id"
                    placeholder="{{'Search' | translate}}"
                  >
                    <ng-template ng-label-tmp let-i="item">
                      <div *ngIf="i">
                        <span><ion-text color="primary">#{{i.Id}} 
                          <span *ngIf="i.VendorName"> {{i.VendorName}} → {{i.StorerName}}</span>
                        </ion-text> </span>
                      </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                      <div *ngIf="i">
                        <span><ion-text color="primary">#{{i.Id}}</ion-text></span>
                        <small *ngIf="i.IDPurchaseOrder"> PO: {{i.IDPurchaseOrder}}</small>
                        <small *ngIf="i.VehicleNumber"> Xe: {{i.VehicleNumber}}</small>
                        <small *ngIf="i.ExpectedReceiptDate">
                          - {{i.ExpectedReceiptDate | date: 'HH:mm dd/MM/yy'}}</small
                        >
                        <div>
                          <span>{{i.VendorName}}</span>
                          →
                          <span>{{i.StorerName}}</span>
                        </div>
                      </div>
                    </ng-template>
                  </ng-select>
                </div>

                <div class="c-control">
                  <label class="c-label" for="IDPurchaseOrder"
                    >PO
                    <span
                      *ngIf="!formGroup.controls.IDPurchaseOrder.valid && !formGroup.controls.IDPurchaseOrder.pending && (formGroup.controls.IDPurchaseOrder.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>

                  <ng-select
                    class="c-input"
                    (change)="receiptChange($event);"
                    labelForId="IDPurchaseOrder"
                    formControlName="IDPurchaseOrder"
                    [items]="IDPurchaseOrderDataSource.items$ | async"
                    [typeahead]="IDPurchaseOrderDataSource.input$"
                    [loading]="IDPurchaseOrderDataSource.loading"
                    bindValue="Id"
                    [virtualScroll]="true"
                    placeholder="{{'Search' | translate}}"
                  >
                    <ng-template ng-label-tmp let-i="item">
                      <div *ngIf="i">
                        <span
                          ><ion-text color="primary"
                            >#{{i.Id}}
                            <span *ngIf="i.VendorName"> {{i.VendorName}} → {{i.StorerName}}</span>
                          </ion-text></span
                        >
                      </div>
                    </ng-template>
                    <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                      <div *ngIf="i">
                        <span><ion-text color="primary">#{{i.Id}}</ion-text></span>
                        <small *ngIf="i.Code"> PO: {{i.Code}}</small>
                        <small *ngIf="i.ExpectedReceiptDate">
                          - {{i.ExpectedReceiptDate | date: 'HH:mm dd/MM/yy'}}</small
                        >
                        <div>
                          <span>{{i.VendorName}}</span>
                          →
                          <span>{{i.StorerName}}</span>
                        </div>
                      </div>
                    </ng-template>
                  </ng-select>
                </div>

                <!-- <div class="c-control">
									<label class="c-label" for="IDPurchaseOrder">IDPurchaseOrder
										<span *ngIf="!formGroup.controls.IDPurchaseOrder.valid && !formGroup.controls.IDPurchaseOrder.pending && (formGroup.controls.IDPurchaseOrder.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<ng-select class="c-input" (change)="saveChange();" labelForId="IDPurchaseOrder" formControlName="IDPurchaseOrder" [items]="IDPurchaseOrderList" bindLabel="Name" bindValue="Code" placeholder="Tìm kiếm...">
										<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
											<div *ngIf="i">
												<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
											</div>
										</ng-template>
									</ng-select>
								</div> -->
                <app-form-control [field]="{id:'InvoiceForm',label:'Form', type:'text',form:formGroup}"  (change)="saveChange()"></app-form-control>
                <app-form-control [field]="{id:'InvoiceSerial',label:'Serial', type:'text',form:formGroup}"  (change)="saveChange()"></app-form-control>
                <app-form-control [field]="{id:'InvoiceNo',label:'Invoice number', type:'text',form:formGroup}"  (change)="saveChange()"></app-form-control>
                <app-form-control [field]="{id:'InvoiceDate',label:'Invoice date', type : 'date' ,form:formGroup}"  (change)="saveChange()"></app-form-control>
              

                <!-- <div class="c-control">
									<label class="c-label" for="InvoiceSignedDate">Ngày ký
										<span *ngIf="!formGroup.controls.InvoiceSignedDate.valid && !formGroup.controls.InvoiceSignedDate.pending && (formGroup.controls.InvoiceSignedDate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input (change)="saveChange()" class="c-input" id="InvoiceSignedDate" formControlName="InvoiceSignedDate" type="date">
								</div> -->

                <!-- <div class="c-control">
									<label class="c-label" for="Code">{{'Code' | translate}}
										<span *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input (change)="saveChange()" class="c-input" id="Code" formControlName="Code" type="text">
								</div>
								<div class="c-control">
									<label class="c-label" for="Name">{{'Name' | translate}}
										<span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input class="c-input" id="Name" (change)="saveChange();" formControlName="Name" type="text">
								</div> -->
                <app-form-control [field]="{id:'SellerName',label:'Bên bán', type:'text',form:formGroup}"  (change)="saveChange()"></app-form-control>
                
                <app-form-control [field]="{id:'BuyerName',label:'Bên mua', type:'text',form:formGroup}"  (change)="saveChange()"></app-form-control>
         
              </ion-col>

              <ion-col size="12" size-sm size-xl="4">
                <div class="c-control">
                  <label class="c-label" for="TotalBeforeDiscount"
                    >{{'Total cost of goods' | translate}}
                    <span
                      *ngIf="!formGroup.controls.TotalBeforeDiscount.valid && !formGroup.controls.TotalBeforeDiscount.pending && (formGroup.controls.TotalBeforeDiscount.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input
                    (change)="changeAmount()"
                    class="c-input"
                    id="TotalBeforeDiscount"
                    formControlName="TotalBeforeDiscount"
                    mask="separator.2"
                    thousandSeparator=","
                    [allowNegativeNumbers]="true"
                  />
                </div>
                <div class="c-control">
                  <label class="c-label" for="TotalDiscount"
                    >{{'Discount' | translate}}
                    <span
                      *ngIf="!formGroup.controls.TotalDiscount.valid && !formGroup.controls.TotalDiscount.pending && (formGroup.controls.TotalDiscount.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input
                  (change)="changeAmount()"
                    class="c-input"
                    id="TotalDiscount"
                    formControlName="TotalDiscount"
                    mask="separator.2"
                    thousandSeparator=","
                    [allowNegativeNumbers]="true"
                  />
                </div>
                <!-- <div class="c-control">
									<label class="c-label" for="CalcTotalAfterDiscount">CalcTotalAfterDiscount
										<span *ngIf="!formGroup.controls.CalcTotalAfterDiscount.valid && !formGroup.controls.CalcTotalAfterDiscount.pending && (formGroup.controls.CalcTotalAfterDiscount.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input (change)="saveChange()" class="c-input" id="CalcTotalAfterDiscount" formControlName="CalcTotalAfterDiscount" mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="true">
								</div> -->
                <div class="c-control">
                  <label class="c-label" for="Tax"
                    >{{'VAT' | translate}}
                    <span
                      *ngIf="!formGroup.controls.Tax.valid && !formGroup.controls.Tax.pending && (formGroup.controls.Tax.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input
                  (change)="changeAmount()"
                    class="c-input"
                    id="Tax"
                    formControlName="Tax"
                    mask="separator.2"
                    thousandSeparator=","
                    [allowNegativeNumbers]="true"
                  />
                </div>
                <!-- <div class="c-control">
									<label class="c-label" for="WithholdingTax">WithholdingTax
										<span *ngIf="!formGroup.controls.WithholdingTax.valid && !formGroup.controls.WithholdingTax.pending && (formGroup.controls.WithholdingTax.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input (change)="saveChange()" class="c-input" id="WithholdingTax" formControlName="WithholdingTax" mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="true">
								</div> -->
                <div class="c-control">
                  <label class="c-label" for="CalcTotalAfterTax"
                    >{{'Total payment amount' | translate}}
                    <span
                      *ngIf="!formGroup.controls.CalcTotalAfterTax.valid && !formGroup.controls.CalcTotalAfterTax.pending && (formGroup.controls.CalcTotalAfterTax.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input
           
                    class="c-input"
                    id="CalcTotalAfterTax"
                    formControlName="CalcTotalAfterTax"
                    mask="separator.2"
                    thousandSeparator=","
                    [allowNegativeNumbers]="true"
                  />
                </div>
                <div class="c-control">
                  <label class="c-label" for="Paid"
                    >{{'Amount paid' | translate}}
                    <span
                      *ngIf="!formGroup.controls.Paid.valid && !formGroup.controls.Paid.pending && (formGroup.controls.Paid.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input
          
                    class="c-input"
                    id="Paid"
                    formControlName="Paid"
                    mask="separator.2"
                    thousandSeparator=","
                    [allowNegativeNumbers]="true"
                  />
                </div>
                <div class="c-control">
                  <label class="c-label" for="CalcBalance"
                    >{{'Remaining' | translate}}
                    <span
                      *ngIf="!formGroup.controls.CalcBalance.valid && !formGroup.controls.CalcBalance.pending && (formGroup.controls.CalcBalance.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input
               
                    class="c-input"
                    id="CalcBalance"
                    formControlName="CalcBalance"
                    mask="separator.2"
                    thousandSeparator=","
                    [allowNegativeNumbers]="true"
                  />
                </div>
                <div class="c-control" *ngIf="item.CalcBalance">
                  <label class="c-label" for="DueDate"
                    >{{'Payment due date' | translate}}
                    <span
                      *ngIf="!formGroup.controls.DueDate.valid && !formGroup.controls.DueDate.pending && (formGroup.controls.DueDate.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input (change)="saveChange()" class="c-input" id="DueDate" formControlName="DueDate" type="date" />
                </div>

                <div class="c-control">
                  <label class="c-label" for="IDOwner">{{'Buyer' | translate}}</label>
                  <ng-select
                    (change)="saveChange()"
                    class="c-input"
                    #IDOwner
                    formControlName="IDOwner"
                    labelForId="IDOwner"
                    [items]="IDOwnerDataSource.items$ | async"
                    [typeahead]="IDOwnerDataSource.input$"
                    [loading]="IDOwnerDataSource.loading"
                    [virtualScroll]="true"
                    bindLabel="FullName"
                    bindValue="Id"
                    placeholder="{{'Search for name, code or phone number' | translate}}"
                  >
                    <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                      <div *ngIf="i">
                        <div>
                          <span [ngOptionHighlight]="search">{{i.FullName}}</span>
                        </div>
                        <small
                          >#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b>
                          <span *ngIf="i.Phone">
                            | {{'Telephone' | translate}}:
                            <b [ngOptionHighlight]="search">{{i.PhoneNumber}}</b></span
                          ></small
                        >
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="hr-group" *ngIf="item.Id">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">{{'Other information' | translate}}</ion-label>
                </ion-list-header>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">
                <app-form-control
                  [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"
                ></app-form-control>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">
                <app-form-control
                  [field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }"
                  (change)="saveChange()"
                ></app-form-control>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </div>
      <div *ngIf="segmentView == 's2'"></div>
      <div class="table responsive" *ngIf="segmentView == 's3'">
        <app-data-table class="box-shadow responsive" *ngIf ="paymentDetailList" [rows]="paymentDetailList" [(selectedRows)]="selectedItems" [showSpinner]="showSpinnerPayment" >
          <!-- <datatable-column [checkbox]="true"></datatable-column> -->
          <datatable-column class="col-id" name="Id" property="Id">
            <ng-template let-i="row" datatable-cell-template>
              <a [routerLink]="['/outgoing-payment/'+i.Id]">{{i.Id}}</a>
            </ng-template>
          </datatable-column>
          <!-- <datatable-column class="col-name" name="Warehouse" property="WarehouseName">
            <ng-template let-i="row" datatable-cell-template>
              {{i.WarehouseName}}
              <small class="address" *ngIf="i.WarehouseCode">
                <ion-text color="dark">{{i.WarehouseCode}}</ion-text>
              </small>
            </ng-template>
          </datatable-column>
          -->
          <datatable-column class="col-code"  filterControlType="text" name="Type" property="Type">
          </datatable-column>
          <datatable-column class="col-number"  filterControlType="number" name="Amount" property="Amount">
          
          </datatable-column>
          <datatable-column class="col-date"  filterControlType="date" name="Posting date" property="PostingDate">
            <ng-template let-i="row" datatable-cell-template>
              {{i.PostingDate | date:'dd/MM/yyyy HH:mm'}}
              </ng-template>
          </datatable-column>
          <datatable-column class="col-date"  filterControlType="date" name="Document date" property="DocumentDate">
            <ng-template let-i="row" datatable-cell-template>
              {{i.DocumentDate | date:'dd/MM/yyyy HH:mm'}}
              </ng-template>
          </datatable-column>
          <datatable-column class="col-date"  filterControlType="date" name="Due date" property="DueDate">
            <ng-template let-i="row" datatable-cell-template>
              {{i.DueDate | date:'dd/MM/yyyy HH:mm'}}
              </ng-template>
          </datatable-column>
          <!-- <datatable-column class="col-date" filterControlType="date" name="Picked date" property="PickedDate">
            <ng-template let-i="row" datatable-cell-template>
              {{i.PickedDate | date:'dd/MM/yyyy HH:mm'}}
              </ng-template>
          </datatable-column> -->
         
          <datatable-column class="col-status" name="Status" property="Status">
            <ng-template let-i="row" datatable-cell-template>
            <ion-badge [color]="i._Status?.Color" [title]="i._Status?.Name">
              {{i._Status?.Name}}
            </ion-badge>
            </ng-template>
          </datatable-column>
        </app-data-table>
      </div>
    </div>
  </div>
  <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
