<ion-header>
    <app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
  <div id="apinvoice-detail-page" style="position: absolute;"></div>
  <div class="main-view">
    <ion-grid fixed>
        <form [formGroup]="formGroup">
            <ion-row class="hr-group">
                <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                    <ion-list-header class="ion-no-padding">
                        <ion-label color="primary">{{'erp.app.pages.accountant.ap-invoice-detail.ap-invoice' | translate}}</ion-label>
                    </ion-list-header>
                </ion-col>
                <ion-col size="12" size-sm size-xl="4">

                    <div class="c-control">
                        <label class="c-label" for="Id"># {{'erp.app.pages.accountant.ar-invoice-detail.id' | translate}}</label>
                        <input class="c-input" id="Id" formControlName="Id" type="number">
                    </div>
                    <!-- <div class="c-control">
                        <label class="c-label" for="Status">{{'erp.app.pages.accountant.ar-invoice-detail.status' | translate}}</label>
                        <ng-select  class="c-input" #Status formControlName="Status" labelForId="Status" [items]="statusList" bindLabel="Name" bindValue="Code" placeholder="">
                        </ng-select>
                    </div> -->
                    <div class="c-control">
                        <label class="c-label" for="IDBusinessPartner"># {{'erp.app.pages.accountant.ap-invoice-detail.id-business-partner' | translate}}</label>
                        <ng-select formControlName="IDBusinessPartner" class="c-input" (change)="changedIDContact($event)" id="IDBusinessPartner" labelForId="IDBusinessPartner" [items]="contactList$ | async" [typeahead]="contactListInput$" [loading]='contactListLoading' [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="{{'erp.app.pages.accountant.ap-invoice-detail.ap-invoice-placeholder' | translate}}">
                            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                <div *ngIf="i">
                                    <div>
                                        <b *ngIf="i.Code"><span class="important" [ngOptionHighlight]="search">{{i.Id}}</span></b>
                                        <span > | {{i.Name}}</span>
                                        <span *ngIf="i.WorkPhone"> | <small> <b >{{i.WorkPhone}}</b></small></span>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <!-- <div class="c-control">
                        <label class="c-label" for="Name" (change)="saveChange()">{{'erp.app.pages.accountant.ap-invoice-detail.name' | translate}}</label>
                        <input class="c-input" (change)="saveChange()" id="Name" formControlName="Name">
                    </div> -->
                    <div class="c-control">
                        <label class="c-label" for="CreatedDateText">{{'erp.app.pages.accountant.ar-invoice-detail.create-date' | translate}}</label>
                        <span class="c-input disable" id="CreatedDateText">{{item.CreatedDateText}}</span>
                    </div>
                    <div class="c-control">
                        <label class="c-label" for="Remark" (change)="saveChange()">{{'erp.app.pages.accountant.ar-invoice-detail.remark' | translate}}</label>
                        <input class="c-input" (change)="saveChange()" id="Remark" formControlName="Remark">
                    </div>
                    
                </ion-col>
                <ion-col size="12" size-sm size-xl="4">
                    <div class="c-control">
                        <label class="c-label" for="TotalDiscount">{{'erp.app.pages.accountant.ap-invoice-detail.total-discount' | translate}}</label>
                        <input mask="separator.0" (change)="saveChange()" thousandSeparator="." [allowNegativeNumbers]="false" suffix=" ₫" class="c-input c-label" id="TotalDiscount" formControlName="TotalDiscount" type="tel" placeholder="{{'erp.app.pages.accountant.ap-invoice-detail.total-discount-placeholder' | translate}}">
                    </div>
                    <div class="c-control">
                        <label class="c-label" for="TotalAfterDiscount">{{'erp.app.pages.accountant.ap-invoice-detail.total-after-discount' | translate}}</label>
                        <input mask="separator.0" (change)="saveChange()" thousandSeparator="." [allowNegativeNumbers]="false" suffix=" ₫" class="c-input c-label" id="TotalAfterDiscount" formControlName="TotalAfterDiscount" type="tel" placeholder="{{'erp.app.pages.accountant.ap-invoice-detail.total-after-discount-placeholder' | translate}}">
                    </div>
                    <div class="c-control">
                        <label class="c-label" for="Tax">{{'erp.app.pages.accountant.ap-invoice-detail.tax' | translate}}</label>
                        <input mask="separator.0" (change)="saveChange()" thousandSeparator="." [allowNegativeNumbers]="false" suffix=" ₫" class="c-input c-label" id="Tax" formControlName="Tax" type="tel" placeholder="{{'erp.app.pages.accountant.ap-invoice-detail.tax-placeholder' | translate}}">
                    </div>
                    <div class="c-control">
                        <label class="c-label" for="TotalAfterTax">{{'erp.app.pages.accountant.ap-invoice-detail.total-after-tax' | translate}}</label>
                        <input mask="separator.0" (change)="saveChange()" thousandSeparator="." [allowNegativeNumbers]="false" suffix=" ₫" class="c-input c-label" id="TotalAfterTax" formControlName="TotalAfterTax" type="tel" placeholder="{{'erp.app.pages.accountant.ap-invoice-detail.total-after-tax-placeholder' | translate}}">
                    </div>
                </ion-col>
            </ion-row>

        </form>
    </ion-grid>

  <div class="row-full shadow full-screen">
    <ion-toolbar color="primary">
        <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">

            <ion-segment-button value="s3" *ngIf="false">
                <ion-label>{{'erp.app.pages.accountant.ar-invoice-detail.relevant-invoice-tab' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="s1" *ngIf="false">
                <ion-label>{{'erp.app.pages.accountant.ar-invoice-detail.item-list-tab' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="s2">
                <ion-label>{{'erp.app.pages.accountant.ar-invoice-detail.invoice-tab' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="s4" *ngIf="false">
                <ion-label>{{'erp.app.pages.accountant.ar-invoice-detail.so-order-tab' | translate}}</ion-label>
            </ion-segment-button>
        </ion-segment>
        <ion-buttons slot="end" *ngIf="segmentView == 's3' && item.Id">
            <ion-button>
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <div>
        <div *ngIf="segmentView == 's1'">

        </div>



        <div *ngIf="segmentView == 's2'">
            <div class="ion-padding">
                <ion-grid fixed>
                    <form [formGroup]="formGroup">
                        <ion-row class="hr-group">
                            <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                <ion-list-header class="ion-no-padding">
                                    <ion-label color="primary">{{'erp.app.pages.accountant.ar-invoice-detail.invoice-information' | translate}}</ion-label>
                                </ion-list-header>
                            </ion-col>
                            <ion-col size="12" size-sm size-xl="4">
                                <div class="c-control">
                                    <label class="c-label" for="InvoiceForm">{{'erp.app.pages.accountant.ar-invoice-detail.invoice-form' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="InvoiceForm" formControlName="InvoiceForm" value="">
                                </div>
                                
                                <div class="c-control">
                                    <label class="c-label" for="InvoiceSerial">{{'erp.app.pages.accountant.ar-invoice-detail.invoice-serial' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="InvoiceSerial" formControlName="InvoiceSerial" value="">
                                </div>

                                <div class="c-control">
                                    <label class="c-label" for="InvoiceNo">{{'erp.app.pages.accountant.ar-invoice-detail.invoice-no' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="InvoiceNo" formControlName="InvoiceNo" value="">
                                </div>
                            </ion-col>

                            <ion-col size="12" size-sm size-xl="4">
                                <div class="c-control">
                                    <label class="c-label" for="Type">{{'erp.app.pages.accountant.ar-invoice-detail.invoice-type' | translate}}</label>
                                    <select (change)="saveChange()" class="c-input c-dropdown" formControlName="Type">
                                        <option *ngFor="let i of typeList" [value]="i.Code">{{i.Name}}</option>
                                    </select>
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="RefCode">{{'erp.app.pages.accountant.ap-invoice-detail.ref-code' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="RefCode" formControlName="RefCode" value="">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="IDOrder">{{'erp.app.pages.accountant.ap-invoice-detail.id-order' | translate}} <small *ngIf="item.Id">{{'erp.app.pages.accountant.ap-invoice-detail.id' | translate}}: {{item.IDOrder}}</small></label>
                                    <ng-select formControlName="IDOrder" class="c-input" (change)="changedIDOrder($event)" id="IDOrder" labelForId="IDOrder" [items]="orderList$ | async" [typeahead]="orderListInput$" [loading]='orderListLoading' [virtualScroll]="true" bindLabel="Code" bindValue="Id" placeholder="Tìm theo Id Order">
                                        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                            <div *ngIf="i">
                                                <div>
                                                    <b><span class="important" [ngOptionHighlight]="search">{{i.Id}}</span></b>
                                                    <span *ngIf="i.Code"> | {{i.Code}}</span>
                                                    <span *ngIf="i.Name"> | {{i.Name}}</span>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </ion-col>
                        </ion-row>

                        <ion-row class="hr-group">
                            <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                <ion-list-header class="ion-no-padding">
                                    <ion-label color="primary">{{'erp.app.pages.accountant.ap-invoice-detail.seller-information' | translate}}</ion-label>
                                </ion-list-header>
                            </ion-col>
                            <ion-col size="12" size-sm size-xl="4">
            
                                <div class="c-control">
                                    <label class="c-label" for="SellerName">{{'erp.app.pages.accountant.ap-invoice-detail.seller-name' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="SellerName" formControlName="SellerName" value="">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="SellerUnitName">{{'erp.app.pages.accountant.ap-invoice-detail.seller-unit-name' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="SellerUnitName" formControlName="SellerUnitName" value="">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="SellerTaxCode">{{'erp.app.pages.accountant.ap-invoice-detail.seller-tax-code' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="SellerTaxCode" formControlName="SellerTaxCode" value="">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="SellerAddress">{{'erp.app.pages.accountant.ap-invoice-detail.seller-address' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="SellerAddress" formControlName="SellerAddress" value="">
                                </div>
                                
            
                            </ion-col>
                            <ion-col size="12" size-sm size-xl="4">
                                <div class="c-control">
                                    <label class="c-label" for="SellerBankAccount">{{'erp.app.pages.accountant.ap-invoice-detail.seller-bank-account' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="SellerBankAccount" formControlName="SellerBankAccount" value="">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="PaymentMethod">{{'erp.app.pages.accountant.ar-invoice-detail.payment-method' | translate}}</label>
                                    <select (change)="saveChange()" class="c-input c-dropdown" formControlName="PaymentMethod">
                                        <option *ngFor="let i of paymentMethodList" [value]="i.Code">{{i.Name}}</option>
                                    </select>
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="SellerPhone">{{'erp.app.pages.accountant.ap-invoice-detail.seller-mobile' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="SellerPhone" formControlName="SellerPhone" value="">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="SellerEmail">{{'erp.app.pages.accountant.ap-invoice-detail.seller-email' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="SellerEmail" formControlName="SellerEmail" value="">
                                </div>
            
                                
                            </ion-col>
                        </ion-row>

                        <ion-row class="hr-group">
                            <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                <ion-list-header class="ion-no-padding">
                                    <ion-label color="primary">{{'erp.app.pages.accountant.ar-invoice-detail.other-information' | translate}}</ion-label>
                                </ion-list-header>
                            </ion-col>
                            <ion-col size="12" size-sm size-xl="4">
                                <div class="c-control">
                                    <label class="c-label" for="InvoiceDate">{{'erp.app.pages.accountant.ar-invoice-detail.invoice-date' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEditInvoiceDate}" id="InvoiceDate" formControlName="InvoiceDate" placeholder="{{'erp.app.pages.accountant.ar-invoice-detail.dd-mm-yyyy' | translate}}" type="datetime-local">
                                </div>
                                <!-- <div class="c-control">
                                    <label class="c-label" for="OriginalInvoiceIdentify"># {{'erp.app.pages.accountant.ar-invoice-detail.original-invoice-identity' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEdit}" id="OriginalInvoiceIdentify" formControlName="OriginalInvoiceIdentify" value="">
                                </div> -->
                            </ion-col>
                            <ion-col size="12" size-sm size-xl="4">
                                <div class="c-control">
                                    <label class="c-label" for="SignedDate">{{'erp.app.pages.accountant.ar-invoice-detail.signed-date' | translate}}</label>
                                    <input class="c-input" (change)="saveChange()" [ngClass]="{disable: !pageConfig.canEditInvoiceDate}" id="SignedDate" formControlName="SignedDate" value="" type="datetime-local">
                                </div>
                            </ion-col>
                        </ion-row>
                    </form>
                </ion-grid>
            </div>
        </div>



        <div *ngIf="segmentView == 's3'">

        </div>
    </div>
  </div>
  </div>

  <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
