.full-screen {
	min-height: calc(100vh - 97px);
}
.col-id {
	max-width: 65px;
	min-width: 65px;
	font-weight: bold;
}
.col-checkbox-custom {
	max-width: 90px !important;
    min-width: 90px !important;
}