<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<ion-row>
				<ion-col size="12" size-sm>
					<app-page-title [icon]="person-outline" [color]="warning" [title]="'Bank account'"></app-page-title>
				</ion-col>
			</ion-row>
		</ion-grid>

		<div class="row-full shadow full-screen" style="max-width: 1440px; margin: auto; width: 100%; position: relative; z-index: 0">
			<div class="ion-padding">
				<ion-grid fixed>
					<form [formGroup]="formGroup">
						<ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'General information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>

							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id:'IDAccount', label: 'IDAccount', type : 'text', form : formGroup }" (change)="saveChange()"> </app-form-control>

								<app-form-control [field]="{id:'ReferenceNumber', label: 'Reference number', type : 'text', form : formGroup }" (change)="saveChange()">
								</app-form-control>
								<app-form-control [field]="{id:'TransactionStatus', label: 'Transaction status', type : 'text', form : formGroup }" (change)="saveChange()">
								</app-form-control>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control
									[field]="{id:'TransactionDate', label: 'Transaction date', type : 'datetime-local', form : formGroup }"
									(change)="saveChange()"
								></app-form-control>

								<app-form-control [field]="{id:'Amount', label: 'Amount', type : 'number', form : formGroup }" (change)="saveChange()"> </app-form-control>

								<app-form-control [field]="{id:'ReconciliationStatus', label: 'Reconciliation status', type : 'text', form : formGroup }" (change)="saveChange()">
								</app-form-control>
							</ion-col>
						</ion-row>

						<!-- Other information -->
						<ion-row class="hr-group" *ngIf="item.Id">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Other information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"></app-form-control>
								<app-form-control [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"></app-form-control>
								<app-form-control [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"></app-form-control>
								<app-form-control [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"></app-form-control>
							</ion-col>
							<ion-col size="12" size-sm size-xl="4">
								<app-form-control
									[field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"
								></app-form-control>
								<app-form-control [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }" (change)="saveChange()"></app-form-control>
							</ion-col>
						</ion-row>
					</form>
				</ion-grid>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
