<ion-header collapse="fade">
	<ion-toolbar>
		<ion-title>{{'splitARInvoice' | translate}}</ion-title>

		<ion-buttons slot="end">
			<ion-button title="{{'Close' | translate}}" (click)="closeModal()" fill="clear">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
	<div id="arinvoice-page" style="position: absolute"></div>

	<div class="main-view" *ngIf="segmentView == 's1'">
		<ion-grid fixed style="max-width: 500px">
			<ion-row style="border: none" *ngFor="let o of item.SplitedARInvoices; let idx = index;">
				<ion-col size="11">
					<div class="c-control" *ngIf="idx == 2">
						<label class="c-label" for="ClaimType">
							<input (click)="changeClaimType($event)" class="c-checkbox" type="checkbox" id="ClaimType" />
							{{'A/R invoice for cash instead of promotion goods of Vendors' | translate}}
						</label>
					</div>
					<div class="c-control" *ngIf="o.visible">
						<label class="c-label" for="IDBusinessPartner"> {{o.Title}} </label>

						<ng-select
							[(ngModel)]="o.IDBusinessPartner"
							appendTo="#arinvoice-page"
							class="c-input"
							(change)="changedIDBusinessPartner($event, o)"
							#IDBusinessPartner
							labelForId="IDBusinessPartner"
							[items]="contactList$ | async"
							[typeahead]="contactListInput$"
							[loading]="contactListLoading"
							[virtualScroll]="true"
							bindLabel="Name"
							bindValue="Id"
							placeholder="{{'Search for name, code or phone number' | translate}}"
						>
							<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
								<div *ngIf="i">
									<div>
										<span>{{i.Name}}</span>
										<span *ngIf="i.WorkPhone">
											|
											<small> <b>{{i.WorkPhone}}</b></small></span
										>
									</div>
									<small
										>#<b><span class="important">{{i.Id}}</span></b> <span *ngIf="i.AddressLine1"> | {{i.AddressLine1}}</span></small
									>
								</div>
							</ng-template>
						</ng-select>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="start"></div>

		<div slot="end">
			<ion-button fill="outline" color="warning" (click)="closeModal()"> {{'Cancel' | translate}} </ion-button>
			<ion-button [strong]="true" (click)="splitARInvoice()"> {{'splitARInvoice' | translate}} </ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
