
.icon-30 {
    width: 30px;
}

::ng-deep {
    .row{
        padding: 16px 170px 16px 35px !important;
    }
    .col-id{
        min-width: 130px !important;
        max-width: 130px !important;
    }
    .col-date{
        min-width: 140px !important;
        max-width: 140px !important;
    }
}