<ion-header>
  <app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
  <div id="arinvoice-detail-page" style="position: absolute"></div>
  <div class="main-view">
    <ion-grid fixed>
      <form [formGroup]="formGroup">
        <ion-row class="hr-group">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
            <ion-list-header class="ion-no-padding">
              <ion-label color="primary">{{'A/R Invoice' | translate}}</ion-label>
            </ion-list-header>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <div class="c-control">
              <label class="c-label" for="Id"># {{'Id' | translate}}</label>
              <input class="c-input" id="Id" formControlName="Id" type="number" />
            </div>
            <div class="c-control">
              <label class="c-label" for="Status">{{'Status' | translate}}</label>
              <ng-select
                class="c-input"
                #Status
                formControlName="Status"
                labelForId="Status"
                [items]="statusList"
                bindLabel="Name"
                bindValue="Code"
                placeholder=""
              >
              </ng-select>
            </div>
            <div class="c-control">
              <label class="c-label" for="IDBusinessPartner">
                <ion-button
                  *ngIf="pageConfig.canEdit && pageConfig.canAddCustomer"
                  style="margin-top: -13px"
                  class="ion-float-right"
                  size="small"
                  (click)="addContact()"
                >
                  <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                  {{'Create new customer' | translate}}
                </ion-button>
                # {{'Customer ID' | translate}}
              </label>
              <ng-select
                [(ngModel)]="item.IDBusinessPartner"
                [ngModelOptions]="{standalone: true}"
                class="c-input"
                (change)="changedIDContact($event)"
                id="IDBusinessPartner"
                labelForId="IDBusinessPartner"
                [items]="contactList$ | async"
                [typeahead]="contactListInput$"
                [loading]="contactListLoading"
                [virtualScroll]="true"
                bindLabel="Name"
                bindValue="Id"
                placeholder="{{'Search for name or product code' | translate}}"
              >
                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                  <div *ngIf="i">
                    <div>
                      <b *ngIf="i.Code"><span class="important" [ngOptionHighlight]="search">{{i.Id}}</span></b>
                      <span> | {{i.Name}}</span>
                      <span *ngIf="i.WorkPhone">
                        |
                        <small> <b>{{i.WorkPhone}}</b></small></span
                      >
                    </div>
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <div class="c-control">
              <label class="c-label" for="Name" (change)="saveChange()">{{'Order list' | translate}}</label>
              <input class="c-input" id="Name" formControlName="Name" />
            </div>
          </ion-col>
          <ion-col size="12" size-sm size-xl="4">
            <div class="c-control">
              <label class="c-label" for="InvoiceDateText">{{'Created on' | translate}}</label>
              <span class="c-input disable" id="InvoiceDateText">{{item.InvoiceDateText}}</span>
            </div>
            <div class="c-control">
              <label class="c-label" for="TotalAfterTaxText">{{'Total amount' | translate}}</label>
              <span class="c-input disable" id="TotalAfterTaxText">{{item.TotalAfterTaxText}}</span>
            </div>
            <div class="c-control">
              <label class="c-label" for="EInvoiceTotalText">{{'Total amount biiled' | translate}}</label>
              <span class="c-input disable" id="EInvoiceTotalText">{{item.EInvoiceTotalText}}</span>
            </div>
            <div class="c-control">
              <label class="c-label" for="Remark" (change)="saveChange()">{{'Remark' | translate}}</label>
              <input class="c-input" id="Remark" formControlName="Remark" />
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>

  <div class="row-full shadow full-screen">
    <ion-toolbar color="primary">
      <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
        <ion-segment-button value="s3" *ngIf="relatedARs.length">
          <ion-label>{{'Invoices' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="s1">
          <ion-label>{{'Product' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="s2">
          <ion-label>{{'Other information' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="s4" *ngIf="false">
          <ion-label>{{'SO' | translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-buttons slot="end" *ngIf="segmentView == 's3' && item.Id">
        <ion-button (click)="showSearchRelatedARs = !showSearchRelatedARs">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <div>
      <div *ngIf="segmentView == 's1'">
        <div class="table-contain">
          <section class="table">
            <header class="bold">
              <div class="col-id cell">#</div>
              <div class="col-name cell">{{'Product' | translate}}</div>
              <div class="col-promotion cell">{{'Promotion' | translate}}</div>
              <div class="col-uom cell">{{'Unit' | translate}}</div>
              <div class="col-qty cell">{{'Quantity' | translate}}</div>
              <div class="col-price cell">{{'Unit price' | translate}}</div>
              <div class="col-discount cell">{{'Discount' | translate}}</div>
              <div class="col-total cell">{{'Amount' | translate}}</div>
              <div class="col-tax cell">{{'Tax rate (%)' | translate}}</div>
              <div class="col-totaltax cell">{{'Tax amount' | translate}}</div>
              <div class="col-total cell" title="{{'[Amount to be paid] = [Total amount] + [Tax charge]' | translate}}">
                {{'Total amount' | translate}}
              </div>

              <div class="col-del cell" *ngIf="pageConfig.canEdit"></div>
            </header>

            <div class="row" *ngFor="let i of item.InvoiceLines; let idx = index;">
              <div class="col-id cell">{{idx+1}}</div>
              <div class="col-name cell">
                <ng-select
                  [disabled]="!pageConfig.canEdit || submitAttempt"
                  [clearable]="false"
                  class="c-input"
                  [(ngModel)]="i.IDItem"
                  (change)="changedIDItem($event, i)"
                  [labelForId]="'IDItem'+idx"
                  [items]="itemList$ | async"
                  [typeahead]="itemListInput$"
                  [virtualScroll]="true"
                  bindLabel="Name"
                  bindValue="Id"
                  placeholder="{{'Search for name or product code' | translate}}"
                >
                  <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                    <div *ngIf="i">
                      <div>
                        <span [ngOptionHighlight]="search">{{i.Name}}</span>
                      </div>
                      <small
                        >#<b
                          ><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b
                        ></small
                      >
                    </div>
                  </ng-template>
                </ng-select>
                <!-- <select class="c-input">
                              <option selected>Cá hấp cuốn bánh tráng</option>
                            </select> -->
              </div>
              <div
                [ngClass]="{disable: !pageConfig.canEdit && !pageConfig.canUsePromotionItem}"
                class="col-promotion cell"
              >
                <input
                  [disabled]="!pageConfig.canEdit || submitAttempt"
                  (change)="changeIsPromotion(i);"
                  class="c-checkbox"
                  [(ngModel)]="i.IsPromotionItem"
                  type="checkbox"
                />
              </div>
              <div class="col-uom cell">
                <select
                  [disabled]="!pageConfig.canEdit || submitAttempt"
                  class="c-input c-dropdown"
                  (change)="changedItemUoM(i)"
                  [(ngModel)]="i.IDUoM"
                  *ngIf="i._itemData && i._itemData.UoMs.length"
                >
                  <option value="">{{'Select unit' | translate}}</option>
                  <option [disabled]="t.Flag" *ngFor="let t of i._itemData.UoMs" [value]="t.Id">{{t.Name}}</option>
                </select>
                <!-- <select class="c-input">
                              <option selected>{{'Select unit' | translate}}</option>
                            </select> -->
              </div>

              <div class="col-qty cell">
                <input
                  [readonly]="!pageConfig.canEdit || submitAttempt"
                  (focus)="$event.target.select()"
                  *ngIf="i._itemData && i._itemData.UoMs.length && i.IDUoM"
                  (change)="changedItemUoM(i)"
                  class="c-input"
                  type="number"
                  [min]="i._UoM?i._UoM.MinQuantity:0.000000001"
                  [max]="i._UoM?i._UoM.MaxQuantity:999999999999999999"
                  step="1"
                  [(ngModel)]="i.Quantity"
                  onkeydown="return event.keyCode !== 190"
                />
                <!-- <input class="c-input" type="number" onkeydown="return event.keyCode !== 190"> -->
              </div>

              <div class="col-price cell">
                <input
                  class="c-input"
                  [readonly]="!(pageConfig.canEdit) || i.IsPromotionItem"
                  (focus)="$event.target.select()"
                  (change)="changedItemUoM(i)"
                  mask="separator.2"
                  thousandSeparator=","
                  [allowNegativeNumbers]="false"
                  [(ngModel)]="i.UoMPrice"
                />
                <!-- <input class="c-input" mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="true" > -->
              </div>

              <div class="col-discount cell">
                <input
                  class="c-input"
                  [readonly]="!pageConfig.canEdit || submitAttempt || i.IsPromotionItem"
                  [disabled]="false"
                  mask="separator.2"
                  thousandSeparator=","
                  [allowNegativeNumbers]="true"
                  [(ngModel)]="i.TotalDiscount"
                  (change)="changedItemUoM(i)"
                />
                <!-- <input class="c-input" mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="true" > -->
              </div>

              <div class="col-total cell disable">
                <input
                  class="c-input"
                  [disabled]="true"
                  mask="separator.0"
                  thousandSeparator=","
                  [allowNegativeNumbers]="true"
                  [(ngModel)]="i.TotalAfterDiscount"
                />
                <!-- <input class="c-input" [disabled]="true" mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="true" > -->
              </div>

              <div class="col-tax cell">
                <input
                  [readonly]="!(pageConfig.canEdit) || submitAttempt || i.IsPromotionItem"
                  (focus)="$event.target.select()"
                  class="c-input"
                  mask="separator.0"
                  thousandSeparator=","
                  [(ngModel)]="i.TaxRate"
                  (change)="changedItemUoM(i)"
                />
                <!-- <input class="c-input" mask="separator.2" thousandSeparator=","> -->
              </div>

              <div class="col-totaltax cell">
                <input
                  [disabled]="true"
                  [disabled]="true"
                  (focus)="$event.target.select()"
                  class="c-input"
                  mask="separator.0"
                  thousandSeparator=","
                  [allowNegativeNumbers]="false"
                  [(ngModel)]="i.Tax"
                />
                <!-- <input class="c-input" mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="false"> -->
              </div>

              <div class="col-total cell disable">
                <input
                  [disabled]="true"
                  (focus)="$event.target.select()"
                  *ngIf="i.TotalAfterTax"
                  class="c-input"
                  mask="separator.0"
                  thousandSeparator=","
                  [allowNegativeNumbers]="false"
                  [(ngModel)]="i.TotalAfterTax"
                />
                <!-- <input class="c-input" [disabled]="true"  mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="false"> -->
              </div>

              <div class="col-del cell" *ngIf="pageConfig.canEdit" (click)="deleteInvoiceLine(i)">
                <ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
              </div>
            </div>

            <div class="row">
              <div class="col-id cell" *ngIf="pageConfig.canEdit" (click)="addInvoiceLine()">
                <ion-icon class="min-btn" title="{{'Add product' | translate}}" name="add-circle-outline"></ion-icon>
              </div>
              <div class="col-id cell" *ngIf="!pageConfig.canEdit"></div>
              <div class="col-name cell">
                <b (click)="addInvoiceLine()" *ngIf="pageConfig.canEdit">{{'Add product' | translate}}</b>
              </div>
              <div class="col-uom cell"></div>

              <div class="col-qty cell"></div>

              <div class="col-price cell">
                <b>{{'Total' | translate}}:</b>
              </div>

              <div class="col-discount cell disable">
                <input
                  class="c-input"
                  [disabled]="true"
                  mask="separator.0"
                  thousandSeparator=","
                  [allowNegativeNumbers]="true"
                  [(ngModel)]="item.TotalDiscount"
                />
                <!-- <input class="c-input" [disabled]="true" mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="true" > -->
              </div>

              <div class="col-total cell disable">
                <input
                  class="c-input"
                  [disabled]="true"
                  mask="separator.0"
                  thousandSeparator=","
                  [allowNegativeNumbers]="true"
                  [(ngModel)]="item.TotalAfterDiscount"
                />
                <!-- <input class="c-input" [disabled]="true" mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="true" > -->
              </div>

              <div class="col-tax cell disable"></div>

              <div class="col-totaltax cell disable">
                <input
                  [readonly]="!(pageConfig.canEdit && item.Status == 12) || submitAttempt"
                  (focus)="$event.target.select()"
                  *ngIf="item.Tax"
                  class="c-input"
                  mask="separator.0"
                  thousandSeparator=","
                  [allowNegativeNumbers]="false"
                  [(ngModel)]="item.Tax"
                />
                <!-- <input class="c-input" [disabled]="true" mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="false"> -->
              </div>

              <div class="col-total cell disable">
                <input
                  [readonly]="!(pageConfig.canEdit && item.Status == 12) || submitAttempt"
                  (focus)="$event.target.select()"
                  *ngIf="item.TotalAfterTax"
                  class="c-input"
                  mask="separator.0"
                  thousandSeparator=","
                  [allowNegativeNumbers]="false"
                  [(ngModel)]="item.TotalAfterTax"
                />
                <!-- <input class="c-input" [disabled]="true"  mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="false"> -->
              </div>

              <div class="col-del cell" *ngIf="pageConfig.canEdit"></div>
            </div>
          </section>
        </div>
        <div class="table-contain">
          <div class="row" *ngIf="pageConfig.canEdit && item.Id && item?.InvoiceLines?.length < 2  ">
            <div class="cell">
              <ion-button fill="clear" size="small" (click)="addInvoiceLine()">
                <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                {{'Add product' | translate}}
              </ion-button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="segmentView == 's2'">
        <div class="ion-padding">
          <ion-grid fixed>
            <form [formGroup]="formGroup">
              <ion-row class="hr-group">
                <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                  <ion-list-header class="ion-no-padding">
                    <ion-label color="primary">{{'Customer information' | translate}}</ion-label>
                  </ion-list-header>
                </ion-col>
                <ion-col size="12" size-sm size-xl="4">
                  <div class="c-control">
                    <label class="c-label" for="BuyerName">{{'Customer name' | translate}}</label>
                    <input
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="BuyerName"
                      formControlName="BuyerName"
                      value=""
                    />
                  </div>
                  <div class="c-control">
                    <label class="c-label" for="BuyerUnitName">{{'Company name' | translate}}</label>
                    <input
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="BuyerUnitName"
                      formControlName="BuyerUnitName"
                      value=""
                    />
                  </div>
                  <div class="c-control">
                    <label class="c-label" for="BuyerTaxCode">{{'Tax code' | translate}}</label>
                    <input
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="BuyerTaxCode"
                      formControlName="BuyerTaxCode"
                      value=""
                    />
                  </div>
                  <div class="c-control">
                    <label class="c-label">{{'Invoice address' | translate}}</label>
                    <input
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="BuyerAddress"
                      formControlName="BuyerAddress"
                      value=""
                    />
                  </div>
                </ion-col>
                <ion-col size="12" size-sm size-xl="4">
                  <div class="c-control">
                    <label class="c-label" for="BuyerBankAccount">{{'Bank account' | translate}}</label>
                    <input
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="BuyerBankAccount"
                      formControlName="BuyerBankAccount"
                      value=""
                    />
                  </div>

                  <div class="c-control">
                    <label class="c-label" for="ReceiveType">{{'Invoice receipt type' | translate}}</label>
                    <select (change)="saveChange()" class="c-input c-dropdown" formControlName="ReceiveType">
                      <option *ngFor="let i of receiveTypeList" [value]="i.Code">{{i.Name}}</option>
                    </select>
                  </div>

                  <div class="c-control">
                    <label class="c-label" for="ReceiverMobile">{{'Invoice receipt phone number' | translate}}</label>
                    <input
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="ReceiverMobile"
                      formControlName="ReceiverMobile"
                      value=""
                    />
                  </div>
                  <div class="c-control">
                    <label class="c-label" for="ReceiverEmail">{{'Email to receive invoice' | translate}}</label>
                    <input
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="ReceiverEmail"
                      formControlName="ReceiverEmail"
                      value=""
                    />
                  </div>
                </ion-col>
              </ion-row>

              <ion-row class="hr-group">
                <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                  <ion-list-header class="ion-no-padding">
                    <ion-label color="primary">{{'Invoice information' | translate}}</ion-label>
                  </ion-list-header>
                </ion-col>
                <ion-col size="12" size-sm size-xl="4">
                  <div class="c-control">
                    <label class="c-label" for="InvoiceNo"># {{'Invoice Nmuber' | translate}}</label>
                    <input
                      class="c-input"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="InvoiceNo"
                      formControlName="InvoiceNo"
                      value=""
                    />
                  </div>

                  <div class="c-control">
                    <label class="c-label" for="Type">{{'Invoice type' | translate}}</label>
                    <select (change)="saveChange()" class="c-input c-dropdown" formControlName="Type">
                      <option *ngFor="let i of typeList" [value]="i.Code">{{i.Name}}</option>
                    </select>
                  </div>
                  <div class="c-control">
                    <label class="c-label" for="InvoiceForm">{{'Form No.' | translate}}</label>
                    <select (change)="saveChange()" class="c-input c-dropdown" formControlName="InvoiceForm">
                      <option *ngFor="let i of invoiceFormList" [value]="i.Code">{{i.Name}}</option>
                    </select>
                  </div>
                  <div class="c-control">
                    <label class="c-label" for="InvoiceSerial">{{'Serial' | translate}}</label>
                    <select (change)="saveChange()" class="c-input c-dropdown" formControlName="InvoiceSerial">
                      <option *ngFor="let i of invoiceSerialList" [value]="i.Code">{{i.Name}}</option>
                    </select>
                  </div>
                </ion-col>
                <ion-col size="12" size-sm size-xl="4">
                  <!-- <div class="c-control">
                                    <label class="c-label" for="InvoiceCode">Tình trạng hóa đơn</label>
                                    <select (change)="saveChange()" class="c-input c-dropdown" formControlName="InvoiceCode">
                                        <option *ngFor="let i of invoiceCodeList" [value]="i.Code">{{i.Name}}</option>
                                    </select>
                                </div> -->
                  <div class="c-control">
                    <label class="c-label" for="TypeCreateInvoice">{{'Invoice generating type' | translate}}</label>
                    <select
                      (change)="changeTypeCreateInvoice()"
                      class="c-input c-dropdown"
                      formControlName="TypeCreateInvoice"
                    >
                      <option *ngFor="let i of typeCreateInvoiceList" [value]="i.Code">{{i.Name}}</option>
                    </select>
                  </div>
                  <div class="c-control">
                    <label class="c-label" for="PaymentMethod">{{'Payment method' | translate}}</label>
                    <select (change)="saveChange()" class="c-input c-dropdown" formControlName="PaymentMethod">
                      <option *ngFor="let i of paymentMethodList" [value]="i.Code">{{i.Name}}</option>
                    </select>
                  </div>
                  <div class="c-control">
                    <label class="c-label" for="UserDefine">{{'Description' | translate}}</label>
                    <textarea
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="UserDefine"
                      formControlName="UserDefine"
                    ></textarea>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row class="hr-group">
                <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                  <ion-list-header class="ion-no-padding">
                    <ion-label color="primary">{{'Other information' | translate}}</ion-label>
                  </ion-list-header>
                </ion-col>
                <ion-col size="12" size-sm size-xl="4">
                  <div class="c-control">
                    <label class="c-label" for="BillCode"># {{'Bill code' | translate}}</label>
                    <input
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="BillCode"
                      formControlName="BillCode"
                      value=""
                    />
                  </div>
                  <div class="c-control">
                    <label class="c-label" for="OriginalInvoiceIdentify"
                      ># {{'Original invoice code' | translate}}</label
                    >
                    <input
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEdit}"
                      id="OriginalInvoiceIdentify"
                      formControlName="OriginalInvoiceIdentify"
                      value=""
                    />
                  </div>
                </ion-col>
                <ion-col size="12" size-sm size-xl="4">
                  <div class="c-control">
                    <label class="c-label" for="InvoiceDate">{{'Invoice date' | translate}}</label>
                    <input
                      class="c-input"
                      (change)="saveChange()"
                      [ngClass]="{disable: !pageConfig.canEditInvoiceDate}"
                      id="InvoiceDate"
                      formControlName="InvoiceDate"
                      placeholder="{{'dd-mm-yyyy' | translate}}"
                    />
                    <!-- <input class="c-input" [ngClass]="{disable: !pageConfig.canEdit}" type="date" id="InvoiceDate" formControlName="InvoiceDate" value="{{ InvoiceDate | date:'mm/dd/yyyy' }}" /> -->
                  </div>
                  <div class="c-control">
                    <label class="c-label" for="SignedDate">{{'Signing date' | translate}}</label>
                    <input
                      class="c-input"
                      [ngClass]="{disable: !pageConfig.canEditInvoiceDate}"
                      id="SignedDate"
                      formControlName="SignedDate"
                      value=""
                    />
                  </div>
                </ion-col>
              </ion-row>
            </form>
          </ion-grid>
        </div>
      </div>

      <div *ngIf="segmentView == 's3' && relatedARs.length">
        <div class="table-contain">
          <section class="table related-ars">
            <header class="bold">
              <div class="col-checkbox cell">
                <input (change)="toggleSelectAll()" [(ngModel)]="isAllChecked" class="c-checkbox" type="checkbox" />
              </div>
              <div class="col-id cell" (click)="sortToggle('Id')">
                {{'Id' | translate}}
                <ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
                <ion-icon
                  class="min-btn"
                  (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
                  *ngIf="query.Id"
                  name="search"
                  color="primary"
                ></ion-icon>
              </div>
              <div class="col-id cell" (click)="sortToggle('IDSaleOrder')">
                {{'Sale orders' | translate}}
                <ion-icon
                  class="min-btn"
                  *ngIf="sort.IDSaleOrder"
                  [name]="sort.IDSaleOrder == 'IDSaleOrder'?'arrow-down': 'arrow-up'"
                ></ion-icon>
                <ion-icon
                  class="min-btn"
                  (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
                  *ngIf="query.IDSaleOrder"
                  name="search"
                  color="primary"
                ></ion-icon>
              </div>

              <!-- <div class="col-status cell" (click)="sortToggle('Status')">
                            {{'Status' | translate}}
                            <ion-icon class="min-btn" *ngIf="sort.Status" [name]="sort.Status == 'Status'?'arrow-down': 'arrow-up'">
                            </ion-icon>
                            <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
                                *ngIf="query.Status" name="search" color="primary"></ion-icon>
                        </div>
                        -->
              <div class="col-InvoiceDate cell" (click)="sortToggle('InvoiceDate')">
                {{'Created on' | translate}}
                <ion-icon
                  class="min-btn"
                  *ngIf="sort.InvoiceDate"
                  [name]="sort.InvoiceDate == 'InvoiceDate'?'arrow-down': 'arrow-up'"
                ></ion-icon>
                <ion-icon
                  class="min-btn"
                  (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
                  *ngIf="query.InvoiceDate"
                  name="search"
                  color="primary"
                ></ion-icon>
              </div>

              <div class="col-name cell" (click)="sortToggle('CustomerName')">
                <small class="taxid">
                  <ion-text color="warning"> {{'Tax code' | translate}}</ion-text>
                </small>
                {{'Customer' | translate}}
                <small>{{'Id' | translate}}</small>

                <ion-icon
                  class="min-btn"
                  *ngIf="sort.CustomerName"
                  [name]="sort.CustomerName == 'CustomerName'?'arrow-down': 'arrow-up'"
                ></ion-icon>
                <ion-icon
                  class="min-btn"
                  (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
                  *ngIf="query.CustomerName"
                  name="search"
                  color="primary"
                ></ion-icon>
              </div>
              <div class="col-code cell money" (click)="sortToggle('TotalAfterTax')">
                {{'Invoice amount' | translate}}
                <ion-icon
                  class="min-btn"
                  *ngIf="sort.TotalAfterTax"
                  [name]="sort.TotalAfterTax == 'TotalAfterTax'?'arrow-down': 'arrow-up'"
                ></ion-icon>
                <ion-icon
                  class="min-btn"
                  (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
                  *ngIf="query.TotalAfterTax"
                  name="search"
                  color="primary"
                ></ion-icon>
              </div>
              <div class="col-id cell function">
                <ion-icon color="danger" slot="icon-only" name="trash-outline" (click)="removeSelectedARs()"></ion-icon>
              </div>
            </header>
            <form (submit)="refresh()" action="#">
              <header class="filter" *ngIf="showSearchRelatedARs">
                <div class="col-checkbox cell"></div>
                <div class="col-id cell">
                  <input
                    placeholder="{{'Id' | translate}}"
                    (change)="searchRelatedARs_Id = $event.target.value; reInitRelatedARs()"
                    class="c-input"
                    type="number"
                  />
                  <!-- <ion-icon class="min-btn" (click)="searchRelatedARs_Id=0; reInitRelatedARs();" name="close-circle-outline"></ion-icon> -->
                </div>
                <div class="col-id cell">
                  <input
                    placeholder="{{'id-saleorder-placeholder' | translate}}"
                    (change)="searchRelatedARs_IdSO = $event.target.value; reInitRelatedARs()"
                    class="c-input"
                    type="number"
                  />
                  <!-- <ion-icon class="min-btn" (click)="query.IDSaleOrder=''; refresh()" *ngIf="query.IDSaleOrder"
                                    name="close-circle-outline"></ion-icon> -->
                </div>
                <!-- <div class="col-status cell">
                                <select (change)="refresh()" class="c-input c-dropdown" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="query.Status" [ngClass]="{active: query.Status}">
                                    <option value="">{{'All' | translate}}</option>
                                    <option disabled value="">----------</option>
                                    <option *ngFor="let t of statusList" [value]="t.Code">{{t.Name}}</option>
                                </select>
                            </div> -->
                <div class="col-InvoiceDate cell">
                  <input
                    placeholder="{{'Created on' | translate}}"
                    (change)="searchRelatedARs_Date = $event.target.value; reInitRelatedARs()"
                    class="c-input"
                    type="date"
                  />
                  <!-- <ion-icon class="min-btn" (click)="localQuery.InvoiceDate=''; reInitRelatedARs()" *ngIf="localQuery.InvoiceDate"
                                    name="close-circle-outline"></ion-icon> -->
                </div>
                <div class="col-name cell">
                  <input
                    placeholder="{{'Customer' | translate}}"
                    class="c-input"
                    type="text"
                    (change)="searchRelatedARs_BuyerName = $event.target.value; reInitRelatedARs()"
                  />
                  <!-- <ion-icon class="min-btn" (click)="searchRelatedARs_BuyerName=''; reInitRelatedARs();" name="close-circle-outline" *ngIf="searchRelatedARs_BuyerName!=''"></ion-icon> -->
                </div>
                <!-- <div class="col-name cell">
                                <input placeholder="{{'receiver-name' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.ReceiverName" class="c-input" [ngClass]="{active: query.ReceiverName}" type="text">
                                <ion-icon class="min-btn" (click)="query.ReceiverName=''; refresh()" *ngIf="query.ReceiverName" name="close-circle-outline"></ion-icon>
                            </div> -->
                <div class="col-code cell money"></div>
                <div class="col-id cell function"></div>

                <button mat-raised-button type="submit" style="display: none">{{'Search' | translate}}</button>
              </header>
            </form>

            <div class="row" *ngFor="let i of relatedARs">
              <div class="col-checkbox cell">
                <input
                  (click)="changeSelectionRelatedAR(i)"
                  class="c-checkbox"
                  [(ngModel)]="i.checked"
                  type="checkbox"
                />
              </div>
              <a [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]" class="col-id cell">{{i.Id}}</a>
              <a [routerLink]="['/sale-order/'+i.IDSaleOrder]" class="col-id cell">{{i.IDSaleOrder}}</a>

              <!-- <div class="col-status cell">
                            <ion-badge [color]="i._Status.Color" [title]="i._Status.Name">
                                {{i._Status.Name}}
                            </ion-badge>
                        </div> -->
              <div
                class="col-code col-InvoiceDate cell"
                (click)="query.InvoiceDate=i.Query; pageConfig.isShowSearch=true; refresh()"
              >
                {{i.InvoiceDateText}}
              </div>
              <div class="col-name col-customerName cell">
                <small class="taxid" *ngIf="i.BuyerTaxCode">
                  <ion-text color="warning"> {{i.BuyerTaxCode}}</ion-text>
                </small>
                <span title="{{'View Invoice details' | translate}}"
                  >{{i.CustomerName}}
                  <small> {{i.IDBusinessPartner}} </small>
                  <a
                    [href]="'#/'+'business-partner/'+i.IDBusinessPartner"
                    (click)="nav('business-partner/'+i.IDBusinessPartner,'forward')"
                    title="{{'View customers' information' | translate}}"
                  >
                    <ion-icon name="open-outline"></ion-icon>
                  </a>
                </span>
              </div>
              <!-- <div class="col-ReceiverName cell">{{i.ReceiverName}}</div> -->
              <div class="col-code cell money">{{i.TotalText}}</div>
              <div class="col-id cell function">
                <ion-icon color="danger" slot="icon-only" name="trash-outline" (click)="removeRelatedAR(i)"></ion-icon>
              </div>
            </div>

            <div class="row align-center" *ngIf="showLoadMoreRelatedARs">
              <ion-button
                [disabled]="submitAttempt"
                (click)="loadMoreRelatedARs()"
                size="small"
                color="secondary"
                class="ion-float-center"
                >{{'Tải thêm' | translate}}</ion-button
              >
            </div>
          </section>
        </div>
      </div>

      <!--<div *ngIf="segmentView == 's4'">
            <div class="table-contain">
                <section class="table">
                    <header class="bold">
                        <div class="col-id cell">#Order</div>
                        <div class="col-name cell">Đơn ngày</div>
                        <div class="col-saleman cell">NVBH</div>
                        <div class="col-qty cell">Trị giá sau CK</div>
                    </header>

                    <div class="row">

                        <div class="col-id cell">1</div>
                        <div class="col-name cell">
                            2022-02-22 <small>12:22</small>
                        </div>
                        <div class="col-saleman cell">
                            
                            Nguyễn Hoàng Hải
                        </div>

                        <div class="col-price cell">
                            <ion-text color="success"><b>7.100.000 đ</b></ion-text>
                        </div>

                        
                    </div>

                </section>
            </div>
        </div> -->
    </div>
  </div>

  <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
