
<ion-header>
  <app-toolbar [page]="this" >
    <ion-button *ngIf="selectedItems?.length>0 && ShowRequestOutgoingPayment && pageConfig.canRequestOutgoingPayment"fill="clear" title="Create outgoing payment"  
    (click)="presentPopover($event)" >
			<ion-icon slot="start" name="money-check"></ion-icon>
		</ion-button>
  </app-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="scrollx">
  <ion-refresher
    [disabled]="!pageConfig.refresher"
    [disabled]="!pageConfig.refresher"
    slot="fixed"
    (ionRefresh)="refresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab *ngIf="pageConfig.isShowFeature" class="feature" vertical="top" horizontal="end" slot="fixed">
    <div class="ion-padding"></div>
  </ion-fab>
<section class="table responsive">
    <app-data-table class="box-shadow responsive"  [rows]="items" [(selectedRows)]="selectedItems"
    (filter)="onDatatableFilter($event)"
    (sort)="onSort($event)" 
    [(query)]="query"
    (selectedRowsChange)="showCommandBySelectedRows($event)"
    (dataInfinite)="loadData($event)"
		[showFilter]="pageConfig.isShowSearch"
    [showSpinner]="pageConfig.showSpinner" >
      <datatable-column [checkbox]="true"></datatable-column>
      <datatable-column class="col-id" name="Id" property="Id">
        <ng-template let-i="row" datatable-cell-template>
          <a [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]" >
           {{i.Id}}
          </a >
        </ng-template>
      </datatable-column>
      <datatable-column class="col-id" name="PO" property="IDPurchaseOrder">
        <ng-template let-i="row" datatable-cell-template>
          <a [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]" >
            <span class="show-small-inline">PO: </span>{{i.IDPurchaseOrder}}
          </a >
        </ng-template>
      </datatable-column>
      <datatable-column class="col-id" name="Receipt" property="IDReceipt">
        <ng-template let-i="row" datatable-cell-template>
          <a [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]" >
            <span class="show-small-inline">Receipt: </span>{{i.IDReceipt}}
          </a >
        </ng-template>
      </datatable-column>
      <datatable-column class="col-id" name="Số HĐ" property="InvoiceNo">
        <ng-template let-i="row" datatable-cell-template>
          <a [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]" >
            <span class="show-small-inline">PO: </span>{{i.Id}}
          </a >
        </ng-template>
      </datatable-column>
    
      <datatable-column class="col-date"  filterControlType="date" name="Ngày HĐ" property="InvoiceDate">
        <ng-template let-i="row" datatable-cell-template>
          {{i.InvoiceDate | date:'dd/MM/yyyy'}}
          </ng-template>
      </datatable-column>
      <datatable-column class="col-code" name="Payment status" property="PaymentStatus">
        <ng-template let-i="row" datatable-cell-template>
          <span class="bar-holder">
            <ng-container *ngFor="let s of paymentStatusList">
              <ion-text *ngIf="s.Code==i.PaymentStatus" class="bar-title" [color]="s.Color">{{s.Name}}</ion-text>
            </ng-container>
          </span>
        </ng-template>
      </datatable-column>
      <datatable-column class="col-name"  filterControlType="text" name="Bên bán" property="SellerName">
        <ng-template let-i="row" datatable-cell-template>
          {{i.SellerName}}
        </ng-template>
      </datatable-column>
   
      <datatable-column class="col-number" name="Total amount" property="CalcTotalAfterTax">
        <ng-template let-i="row" datatable-cell-template>
          {{i.CalcTotalAfterTax | number:'1.0-0'}}
        </ng-template>
      </datatable-column>

      <datatable-column class="col-status" name="Status" property="Status">
        <ng-template let-i="row" datatable-cell-template>
          <span class="bar-holder">
            <ng-container *ngFor="let s of statusList">
              <ion-text *ngIf="s.Code==i.Status" class="bar-title" [color]="s.Color">{{s.Name}}</ion-text>
            </ng-container>
            <span
              class="bar"
              [ngClass]="{active: s.Code==i.Status}"
              [ngStyle]="{'background-color': 'var(--ion-color-'+s.Color+')'}"
              *ngFor="let s of statusList"
              [title]="s.Name"
            ></span>
          </span>
        <!-- <ion-badge [color]="i._Status?.Color" [title]="i._Status?.Name">
          {{i._Status?.Name}}
        </ion-badge> -->
        </ng-template>
      </datatable-column>
      
   
    </app-data-table>
</section>

    <!-- <div class="col-status cell">
      <ion-text>{{'Status' | translate}}</ion-text>
      <select
        (change)="refresh()"
        class="c-input c-dropdown no-check-dirty"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="query.Status"
        [ngClass]="{active: query.Status}"
      >
        <option value="">{{'Status' | translate}}</option>
        <option *ngFor="let t of statusList" [value]="t.Code">{{t.Name}}</option>
      </select>
      <ion-icon class="min-btn" (click)="query.Status=''; refresh()" name="close-circle-outline"></ion-icon>
    </div> -->
    <ion-popover class="w300" #popover [isOpen]="isOpenPopover" (didDismiss)="dismissPopover()">
      <ng-template>
      <ion-content appScrollbarTheme>
        <ion-grid>
        <form [formGroup]="formGroup" (submit)="dismissPopover(true)">
          <ion-row>
          <ion-col size="12" size-sm size-xl="12">
            <app-form-control
            [field]="{ id: 'PaymentReason', type: 'ng-select', label: 'Reason', dataSource: paymentReasonList, bindValue: 'Code', bindLabel: 'Name', form: formGroup }"
          ></app-form-control>
            <app-form-control
            [field]="{ id: 'PaymentType', type: 'ng-select', label: 'Type', dataSource: paymentTypeList, bindValue: 'Code', bindLabel: 'Name', form: formGroup }"
          ></app-form-control>
          <app-form-control
          [field]="{ id: 'PaymentSubType', type: 'ng-select', label: 'Sub type', dataSource: paymentSubTypeList, bindValue: 'Code', bindLabel: 'Name', form: formGroup }"
        ></app-form-control>
          </ion-col>
        </ion-row>
        </form>
      </ion-grid>
        </ion-content>
        <ion-button class="ion-margin" size="small" expand="block" (click)="dismissPopover(true)">Apply</ion-button>
      </ng-template>
     </ion-popover>
</ion-content>
