<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="scrollx" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>
	<div class="safe-max-width">
		<app-data-table
			class="box-shadow"
			[rows]="items"
			[isTreeList]="true"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<datatable-column class="col-id" name="#" property="Id" [navLink]="pageConfig.pageName"></datatable-column>
			<!-- <datatable-column class="col-name flex-break" name="Title" property="Name"></datatable-column> -->
			<datatable-column class="col-name" name="Name" property="Name">
				<ng-template datatable-header-template>
					<ion-icon class="min-btn" [name]="!isAllRowOpened? 'add-circle-outline':'remove-circle-outline'" (click)="toggleRowAll()"></ion-icon>
					<span (click)="toggleRowAll()">{{ "Name" | translate}}</span>
				</ng-template>
				<ng-template let-i="row" datatable-cell-template>
					<ng-container *ngFor="let w of i.levels; let k = index;"><span class="spacing" *ngIf="k>0"></span></ng-container>
					<ion-icon
						(click)="toggleRow(items, i, true);"
						class="min-btn clickable"
						[name]="!i.showdetail? 'chevron-forward-outline':'chevron-down-outline'"
						*ngIf="i.HasChild"
					></ion-icon>
					<ion-icon class="min-btn clickable" [name]="''" *ngIf="!i.HasChild"></ion-icon>

					<a class="clickable" [ngClass]="i.HasChild? ('bold ') : ('')" [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]">
						<ion-text color="dark" *ngIf="!i.IDParent">{{i.Name}}</ion-text>
						<ion-text color="dark" *ngIf="i.IDParent">{{i.Code}}</ion-text>
					</a>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-date" format="yyyy-MM-dd" name="Checked date" property="LastCheckedDate" filterControlType="date"></datatable-column>
			
			<datatable-column class="col-number bold" format="1.0-0" name="Total" property="WorkingBalance"></datatable-column>
		</app-data-table>
	</div>

	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<!-- <div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			<ng-container *ngFor="let i of itemsState; let j = index;">
				<div class="row" *ngIf="i.show" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
					<div class="col-checkbox cell">
						<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox" />
					</div>
					<div class="col-id cell">
						<a [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]">{{i.Id}}</a>
					</div>
					<div [ngClass]="i.HasChild? ('bold ') : ('')" class="col-name cell">
						<ng-container *ngFor="let w of i.levels; let k = index;"><span class="spacing" *ngIf="k>0"></span></ng-container>
						<ion-icon
							(click)="toggleRow(itemsState, i, true);"
							class="min-btn clickable"
							[name]="i.HasChild? (!i.showdetail? 'chevron-forward-outline':'chevron-down-outline') : ''"
						></ion-icon>
						<ion-text *ngIf="!i.IDParent" class="clickable" (click)="showModal(i)" [color]="i.Color">{{i.Name}}</ion-text>
						<ion-text *ngIf="i.IDParent" class="clickable" (click)="showModal(i)" [color]="i.Color">{{i.Code}}</ion-text>
					</div>
					<div class="col-money bold cell"><span *ngIf="i.IDParent">{{i.WorkingBalance | number: '1.0-0'}}</span></div>
				</div>
			</ng-container>
		</section>
	</div> -->
</ion-content>
