@media screen and (max-width: calc(1164px + 0px)) {
  ::ng-deep .table.responsive .row {
    padding: 16px 170px 16px 35px !important;

    .col-name > div {
      max-width: calc(100% + 160px);
    }
  }
}

::ng-deep .col-name > div {
  max-width: 100%;
  & > div > ion-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
