<ion-header>
	<app-list-toolbar
		selectedTitle="{{selectedItems.length}} {{'Order' | translate}}"
		pageTitle="{{'Invoice' | translate}}"
		[pageConfig]="pageConfig"
		[selectedItems]="selectedItems"
		[query]="query"
		(add)="add()"
		(refresh)="refresh()"
		(export)="export()"
		(import)="import($event)"
		(help)="help()"
		(unselect)="unselect()"
		(archiveItems)="archiveItems()"
		(deleteItems)="delete()"
		(approveInvoices)="approveInvoices()"
		(disapproveInvoices)="disapproveInvoices()"
		(cancelInvoices)="cancelInvoices()"
		(submitInvoicesForApproval)="submitInvoicesForApproval()"
		(createEInvoice)="createEInvoice()"
		(updateEInvoice)="updateEInvoice()"
		(syncEInvoice)="syncEInvoice()"
		(signEInvoice)="signARInvoice()"
		(splitARInvoice)="splitARInvoice()"
		(mergeARInvoice)="mergeARInvoice()"
		(changeBranch)="changeBranch($event)"
	></app-list-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="scrollx">
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature" vertical="top" horizontal="end" slot="fixed">
		<div class="ion-padding"></div>
	</ion-fab>
	<!-- <div class="ion-content-scroll-host" cdkVirtualScrollingElement style="height: 100%;"> -->

	<ion-refresher [disabled]="!pageConfig.refresher" [disabled]="!pageConfig.refresher" slot="fixed" (ionRefresh)="refresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<!-- <div class="ion-padding" style="position: sticky; left: 0;">
			<app-page-title [icon]="pageConfig.pageIcon" [title]="pageConfig.pageTitle" [remark]="pageConfig.pageRemark + '123123'">
			</app-page-title>
		</div> -->

	<!-- ion-margin-horizontal box-shadow-->
	<app-data-table
		class="box-shadow responsive"
		[rows]="items"
		[trackBy]="'Id'"
		[(selectedRows)]="selectedItems"
		[showSpinner]="pageConfig.showSpinner"
		[showFilter]="pageConfig.isShowSearch"
		[(query)]="query"
		(dataInfinite)="loadData($event)"
		(filter)="onDatatableFilter($event)"
		(sort)="onSort($event)"
		(selectedRowsChange)="showCommandBySelectedRows($event)"
	>
		<datatable-column [checkbox]="true"></datatable-column>
		<datatable-column class="col-id" name="#" property="Id" [navLink]="pageConfig.pageName"></datatable-column>
		<datatable-column class="col-id" name="SO Id" property="IDSaleOrder">
			<ng-template let-i="row" datatable-cell-template>
				<a *ngIf="i.IDSaleOrder" [routerLink]="['/sale-order-mobile/viewer/'+i.IDSaleOrder]" class="col-id cell"
					><span class="show-small-inline">{{'SO:' | translate}} </span> {{i.IDSaleOrder}}</a
				>
			</ng-template>
		</datatable-column>

		<datatable-column *ngIf="pageConfig.IsShowSOCode" class="col-code" name="SO Code" property="SaleOrderCode"> </datatable-column>

		<datatable-column class="col-status" name="Status" property="Status" filterControlType="ng-select" [filterDataSource]="statusList">
			<ng-template let-i="row" datatable-cell-template>
				<ion-badge [color]="i._Status.Color" [title]="i._Status.Name">
					{{i._Status.Name}}
					<abbr class="clickable" (click)="query.Id=i.IDParent; refresh()" *ngIf="i.IDParent"> >{{i.IDParent}} </abbr>
				</ion-badge>
			</ng-template>
		</datatable-column>
		<datatable-column class="col-date" format="yyyy-MM-dd" name="Invoice date" property="InvoiceDate" filterControlType="date"></datatable-column>
		<datatable-column class="col-name" name="Customer name" property="CustomerName">
			<ng-template let-i="row" datatable-cell-template>
				<div>
					<span title="{{'View Invoice details' | translate}}"
						>{{i.CustomerName}}
						<a
							[href]="'#/'+'business-partner/'+i.IDBusinessPartner"
							(click)="nav('business-partner/'+i.IDBusinessPartner,'forward')"
							title="{{'View customers' information' | translate}}"
						>
							<ion-icon name="open-outline"></ion-icon>
						</a>
						<small class="taxid" *ngIf="i.BuyerTaxCode"> {{i.BuyerTaxCode}} </small>
					</span>
					<div *ngIf="i.Remark">
						<ion-text color="warning">
							<i [innerHtml]="i.Remark"></i>
						</ion-text>
					</div>
				</div>
			</ng-template>
		</datatable-column>
		<datatable-column class="col-number bold" format="1.0-0" name="Total" property="TotalAfterTax"></datatable-column>
		<datatable-column class="col-remark" name="Invoice No." property="InvoiceNo">
			<ng-template let-i="row" datatable-cell-template>
				<span *ngIf="i.InvoiceNo">
					<!-- [href]="'http://tracuu.ehoadon.vn/'+i.InvoiceCode" -->
					<!-- https://tchd.ehoadon.vn/Lookup?InvoiceGUID=83f78b70-ef0b-4442-b471-88cc413bd8f5 -->
					<a [href]="'https://tchd.ehoadon.vn/Lookup?InvoiceGUID='+i.InvoiceGUID+''" target="_blank" title="{{'Search e-invoice' | translate}}">
						<i class="show-small-inline">{{'eHĐ:' | translate}} </i>
						{{i.InvoiceForm}}{{i.InvoiceSerial}}-{{i.InvoiceNo}}
					</a>
				</span>
			</ng-template>
		</datatable-column>
	</app-data-table>

	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<!-- </div> -->
</ion-content>
