<ion-header>
	<app-toolbar [page]="this">
		<ion-button
			(click)="createEInvoice()"
			*ngIf="pageConfig.canCreateEInvoice && pageConfig.ShowCreateEInvoice"
			tollbarSelected
			class="clickable"
			title="{{'Create E-Invoice' | translate}}"
		>
			<ion-icon name="receipt-outline" color="primary" slot="icon-only"></ion-icon>
		</ion-button>

		<ion-button
			(click)="updateEInvoice()"
			*ngIf="pageConfig.canCreateEInvoice && pageConfig.ShowUpdateEInvoice"
			tollbarSelected
			class="clickable"
			title="{{ 'Update EInvoice' | translate }}"
		>
			<ion-icon color="success" slot="icon-only" name="reload-outline"></ion-icon>
		</ion-button>
		<ion-button (click)="syncEInvoice()" tollbarSelected title="{{'Sync EInvoice' | translate}}" *ngIf="pageConfig.canCreateEInvoice && pageConfig.ShowUpdateEInvoice">
			<ion-icon color="success" slot="icon-only" name="sync"></ion-icon>
		</ion-button>
		<ion-button (click)="signARInvoice()" tollbarSelected title="Ký hóa đơn" *ngIf="pageConfig.canSignEInvoice && pageConfig.ShowSignEInvoice">
			<ion-icon color="danger" slot="icon-only" name="signature"></ion-icon>
		</ion-button>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="scrollx">
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature" vertical="top" horizontal="end" slot="fixed">
		<div class="ion-padding"></div>
	</ion-fab>

	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>
	<div class="safe-max-width">
		<app-data-table
			class="box-shadow responsive"
			[rows]="items"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(activate)="changeSelection($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
			<datatable-column [checkbox]="true"></datatable-column>
			<datatable-column class="col-id" name="#" property="Id" [navLink]="pageConfig.pageName"></datatable-column>
			<datatable-column class="col-date" format="yyyy-MM-dd" name="Invoice date" property="InvoiceDate" filterControlType="date"></datatable-column>
			<datatable-column class="col-name flex-break" name="Customer name" property="_BusinessPartner.Name">
				<ng-template let-i="row" datatable-cell-template>
					<div *ngIf="i._BusinessPartner">
						<span title="{{'View Invoice details' | translate}}">
							<a
								[href]="'#/'+'business-partner/'+i._BusinessPartner.Id"
								(click)="nav('business-partner/'+i._BusinessPartner.Id,'forward')"
								title="{{'View customers' information' | translate}}"
							>
								{{i._BusinessPartner.Id}}
								<ion-icon name="open-outline"></ion-icon>
							</a>
							{{i._BusinessPartner.Name}}
							<small class="taxid" *ngIf="i.BuyerTaxCode"> {{i.BuyerTaxCode}} </small>
							<small class="taxid" *ngIf="i.BuyerIdentityNumber"> {{i.BuyerIdentityNumber}} </small>
						</span>
						<!-- <div *ngIf="pageConfig.ARIsShowBranch && i._Branch">
							<ion-text color="medium">
								<small [innerHtml]="i._Branch.Name"></small>
							</ion-text>
						</div> -->
						<div *ngIf="i.Remark">
							<ion-text color="warning">
								<i [innerHtml]="i.Remark"></i>
							</ion-text>
						</div>
					</div>
				</ng-template>
			</datatable-column>

			<datatable-column *ngIf="pageConfig.ARIsShowBranch" class="col-code" name="Branch" property="_Branch.Name">
				<ng-template let-i="row" datatable-cell-template>
					<span title="{{i._Branch?.Name}}">{{i._Branch?.ShortName || i._Branch?.Name}}</span>
				</ng-template>
			</datatable-column>

			

			<datatable-column class="col-id" name="SO Id" property="_SaleOrder.Id">
				<ng-template let-i="row" datatable-cell-template>
					<a *ngIf="i._SaleOrder?.Id" [routerLink]="['/sale-order-mobile/viewer/'+i._SaleOrder.Id]">
						<span class="show-small-inline">{{'SO:' | translate}} </span> {{i._SaleOrder.Id}}
					</a>
				</ng-template>
			</datatable-column>

			<datatable-column *ngIf="pageConfig.ARIsShowBillNo" class="col-id" name="Bill no" property="_SaleOrder.DailyBillNo">
				<ng-template let-i="row" datatable-cell-template>
					<a *ngIf="i._SaleOrder?.DailyBillNo" [routerLink]="['/sale-order-mobile/viewer/'+i._SaleOrder.Id]">
						<span class="show-small-inline">{{'Bill number:' | translate}} </span> {{i._SaleOrder.DailyBillNo}}
					</a>
				</ng-template>
			</datatable-column>

			<datatable-column *ngIf="pageConfig.ARIsShowSOCode" class="col-code" name="SO Code" property="_SaleOrder.Code">
				<ng-template let-i="row" datatable-cell-template>
					<a *ngIf="i._SaleOrder?.Code" [routerLink]="['/sale-order-mobile/viewer/'+i._SaleOrder.Id]">
						<span class="show-small-inline">{{'SO Code:' | translate}} </span> {{i._SaleOrder.Code}}
					</a>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-code" name="Invoice No." property="InvoiceNo">
				<ng-template let-i="row" datatable-cell-template>
					<span *ngIf="i.InvoiceNo">
						<!-- [href]="'http://tracuu.ehoadon.vn/'+i.InvoiceCode" -->
						<!-- https://tchd.ehoadon.vn/Lookup?InvoiceGUID=83f78b70-ef0b-4442-b471-88cc413bd8f5 -->
						<a [href]="'https://tchd.ehoadon.vn/Lookup?InvoiceGUID='+i.InvoiceGUID+''" target="_blank" title="{{'Search e-invoice' | translate}}">
							<i class="show-small-inline">{{'eHĐ:' | translate}} </i>
							{{i.InvoiceForm}}{{i.InvoiceSerial}}-{{i.InvoiceNo}}
						</a>
					</span>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-number bold" format="1.0-0" name="Total" property="TotalAfterTax"></datatable-column>
			<datatable-column class="col-status" name="Status" property="Status" filterControlType="ng-select" [filterDataSource]="statusList">
				<ng-template let-i="row" datatable-cell-template>
					<ion-badge [color]="i._Status?.Color" [title]="i._Status?.Name">
						{{i._Status?.Name}}
						<abbr class="clickable" (click)="query.Id=i.IDParent; refresh()" *ngIf="i.IDParent"> >{{i.IDParent}} </abbr>
					</ion-badge>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-name" name="Unit" property="IDBranch">
				<ng-template let-i="row" datatable-cell-template>
					<app-branch-breadcrumbs
						[maxItems]="1"
						[itemsBeforeCollapse]="0"
						[itemsAfterCollapse]="1"
						[Id]="i.IDBranch"
						[Items]="env.branchList"
						[ngClass]="{'no-check-dirty': noCheckDirty}"
						class="c-input disable breadcrumbs"
					>
					</app-branch-breadcrumbs>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>
	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
